---
const { name, variant } = Astro.props;
---

<a
  href="#"
  class=`reset-btn txt-preset-6-bold ${variant === 'primary' ? "primary" : ""}`
>
  {name}
</a>

<style>
  a {
    color: var(--white);
  }
  .primary {
    background-color: var(--white);
    color: var(--red-500);
    padding: 0.9375em 2.5em;
    border-radius: 28px;
    transition:
      color 300ms ease,
      background-color 300ms ease;
  }

  .primary:hover {
    background-color: var(--red-400);
    color: var(--white);
  }
</style>
