---
const { title } = Astro.props;

import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import "../styles/global.css";
import Bookmarks from "../components/Bookmarks.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../src/assets/favicon-32x32.png" />
    <meta
      name="description"
      content="Discover stylish, high-quality furniture and decor with Room. Create your dream space with our expert-crafted collection that blends comfort, elegance, and personal expression."
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="py-10">
      <Header />
      <main class="container-safe">
        <Hero />
        <Features />
        <Bookmarks />
        <slot />
      </main>
    </div>
  </body>
</html>

