---
import Dashboard from "../components/Dashboard/Dashboard";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Browser extension manager";

const response = await fetch(`${Astro.url.origin}/api/data`);
const extensions = await response.json();
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <Dashboard client:idle data={extensions} />
  </main>
</BaseLayout>
