---
import Filter from "../components/Filter/Filter.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Browser extension manager";

const response = await fetch(`${Astro.url.origin}/api/data`);
const extensions = await response.json();

console.log("Données récupérées côté serveur :", extensions);
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <Filter />
  </main>
</BaseLayout>
