---
import Copyright from "../components/Copyright.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Browser extension manager";
---

<BaseLayout pageTitle={pageTitle}>
  <header><h1>Welcome</h1></header>
  <Copyright />
</BaseLayout>
