# Fichiers système et éditeur
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossier de contexte Gemini
/gemini/

# === FRONTEND (Astro) ===
/frontend/node_modules/
/frontend/dist/
/frontend/.astro/
/frontend/.vscode//
/frontend/.env
/frontend/.env.*
!/frontend/.env.example
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/.DS_Store
/frontend/.idea/
/frontend/ressources/
/frontend/.netlify
/frontend/

# === SERVER (Express) ===
/server/node_modules/
/server/dist/
/server/.env
/server/.env.*
!/server/.env.example
