@import "tailwindcss";

:root {
  /* COLORS */

  --color-blue-950: rgb(18, 23, 37);
  --color-blue-900: rgb(44, 52, 75);
  --color-blue-600: rgb(90, 102, 138);
  --color-blue-300: rgb(194, 203, 229);
  --color-green: rgb(84, 230, 175);
  --color-red: rgb(251, 60, 60);
}

@theme {
  --color-base-blue-950: var(--color-blue-950);
  --color-base-blue-900: var(--color-blue-900);
  --color-base-blue-600: var(--color-blue-600);
  --color-base-blue-300: var(--color-blue-300);
  --color-base-green: var(--color-green);
  --color-base-red: var(--color-red);
}

/* FONTS */
/* 
@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

body {
  font-family: "Chivo";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .pink-gradient {
    background-image: linear-gradient(to right, #f8bfbf, #ee8b8b);
  }
  .drop-shadow-custom {
    filter: drop-shadow(0px 20px 20px rgba(56, 42, 225, 0.19));
  }
  .drop-shadow-btn {
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  }
}

.bg-project {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* Appliquer l'overlay directement avec un gradient */
  background-blend-mode: overlay;
}

.bg-project-tablet {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 340px 0px;
}

.bg-project-mobile::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(18, 23, 37, 0.85), rgba(18, 23, 37, 0.85));
  /* Limiter l'overlay aux dimensions de l'image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: inherit;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: inherit;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

@media (width <= 767px) {
  .bg-project-mobile {
    background-image: url("../images/mobile/image-host.jpg");
  }
}

@media (768px <= width <= 1024px) {
  .bg-project {
    background-image: url("../images/tablet/image-host.jpg");
  }
}

@media (width > 1024px) {
  .bg-project {
    background-image: url("../images/desktop/image-host.jpg");
  }
}
