---
import BurgerIcon from "../assets/icon-hamburger.svg";
---

<button
  class="flex cursor-pointer flex-col gap-[5px] lg:hidden"
  id="icon-burger"
  class="burger"
  aria-label="Menu"
  aria-expanded="false"
  aria-controls="menu"
>
  <BurgerIcon />
</button>
