
---
import CloseIcon from "../assets/icon-close.svg";
---

<button
  id="icon-close"
  class="hidden cursor-pointer border-none bg-transparent relative z-50 lg:hidden"
  aria-label="Fermer le menu"
>
  <CloseIcon />
</button>