---
import Chrome from "../assets/logo-chrome.svg";
import Firefox from "../assets/logo-firefox.svg";
import Opera from "../assets/logo-opera.svg";
import BgDots from "../assets/bg-dots.svg";
---

<article class="mt-[199px]">
  <h2 class="heading-1 mb-4 text-center">Download the extension</h2>
  <p class="para-1 mb-10">
    We’ve got more browsers in the pipeline. Please do let us know if you’ve got
    a favourite you’d like us to prioritize.
  </p>
  <div class="flex flex-col items-center gap-10">
    <section class="flex flex-col items-center px-6 py-8 shadow-sm">
      <Chrome class="mb-10" />
      <h3 class="text-custom-blue-950 mb-2 text-2xl leading-[200%] font-medium">
        Add to Chrome
      </h3>
      <p
        class="text-custom-blue-950/50 mb-6 text-[0.9375rem] leading-[165%] font-normal"
      >
        Minimum version 62
      </p>
      <BgDots class="mb-6" />
      <a href="#" class="btn-primary">Add & Install Extension</a>
    </section>
    <section class="flex flex-col items-center px-6 py-8 shadow-sm">
      <Firefox class="mb-10" />
      <h3 class="text-custom-blue-950 mb-2 text-2xl leading-[200%] font-medium">
        Add to Firefox
      </h3>
      <p
        class="text-custom-blue-950/50 mb-6 text-[0.9375rem] leading-[165%] font-normal"
      >
        Minimum version 55
      </p>
      <BgDots class="mb-6" />
      <a href="#" class="btn-primary">Add & Install Extension</a>
    </section>
    <section class="flex flex-col items-center px-6 py-8 shadow-sm">
      <Opera class="mb-10" />
      <h3 class="text-custom-blue-950 mb-2 text-2xl leading-[200%] font-medium">
        Add to Opera
      </h3>
      <p
        class="text-custom-blue-950/50 mb-6 text-[0.9375rem] leading-[165%] font-normal"
      >
        Minimum version 46
      </p>
      <BgDots class="mb-6" />
      <a href="#" class="btn-primary">Add & Install Extension</a>
    </section>
  </div>
</article>
