---
import Tabs from "./Tabs.astro";
---

<article class="mt-[8rem]">
  <div class="mx-8">
    <h2 class="heading-1 mb-6">Features</h2>
    <p class="para-1 mb-18">
      Our aim is to make it quick and easy for you to access your favourite
      websites. Your bookmarks sync between your devices so you can access them
      on the go.
    </p>
  </div>
  <Tabs />
</article>
