---
import Logo from "../assets/logo-bookmark-dark.svg";
import Facebook from "../assets/icon-facebook.svg";
import Twitter from "../assets/icon-twitter.svg";
---

<footer
  class="bg-custom-blue-950 flex flex-col items-center gap-12 py-10 text-white md:flex-row md:items-center md:justify-between md:px-[80px] md:py-[31px]"
>
  <Logo />
  <ul class="flex flex-col gap-6 text-center uppercase md:flex-row md:text-sm">
    <li>features</li>
    <li>pricing</li>
    <li>contact</li>
  </ul>
  <div class="flex items-center gap-10">
    <a href="https://www.facebook.com/"><Facebook /></a>
    <a href="https://x.com/home"> <Twitter /></a>
  </div>
</footer>
