---
import IllustrationHero from "../assets/illustration-hero.svg";
---

<article class="mt-20">
  <img
    src={IllustrationHero.src}
    alt="Illustration"
    class="mx-auto block h-auto w-full max-w-[385px]"
  />

  <section class="mx-8">
    <h1 class="heading-1 mb-6">A Simple Bookmark Manager</h1>
    <p class="para-1 mb-6">
      A clean and simple interface to organize your favourite websites. Open a
      new browser tab and see your sites load instantly. Try it for free.
    </p>
    <div class="flex justify-center gap-4">
      <a href="#" class="btn-primary"> Get it on Chrome </a>
      <a href="#" class="btn-secondary"> Get it on Firefox </a>
    </div>
  </section>
</article>
