---
const { linkName } = Astro.props;
---

<li class="w-full text-center lg:w-auto">
  <a 
    href="#" 
    class="block py-4 px-6 text-white text-xl font-medium uppercase tracking-widest hover:text-red-400 transition-colors lg:text-gray-600 lg:text-sm lg:normal-case lg:tracking-normal lg:py-2"
  >
    {linkName}
  </a>
</li>