.extension__container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 12px;
  list-style-type: none;
}
.extension__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--background-secondary);
  border-radius: var(--radius-20);
}
.extension__heading {
  display: flex;
  gap: 1rem;
  margin-bottom: 24px;
}
.extension__logo {
  align-self: start;
}
.extension__name {
  font-size: var(--ft-size-preset-2);
  font-weight: var(--ft-weight-preset-2);
  line-height: var(--ft-line-height-preset-2);
  letter-spacing: var(--ft-letter-spacing-preset-2);
  color: var(--heading-color-primary);
  margin-bottom: 8px;
}
.extension__description {
  font-size: var(--ft-size-preset-5);
  font-weight: var(--ft-weight-preset-5);
  line-height: var(--ft-line-height-preset-5);
  letter-spacing: var(--ft-letter-spacing-preset-5);
  color: var(--heading-txt-primary);
}

.extension__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extenstion__removeBtn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: var(--ft-size-preset-6);
  font-weight: var(--ft-weight-preset-6-regular);
  line-height: var(--ft-line-height-preset-6-regular);
  letter-spacing: var(--ft-letter-spacing-preset-6-regular);
  color: var(--btn-remove-foreground);
  background-color: var(--btn-remove-background);
  border-radius: var(--radius-full);
  border: 1px solid var(--btn-remove-strike);
}
@media screen and (min-width: 540px) {
  .extension__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 940px) {
  .extension__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
