@import "tailwindcss";

:root {
  /* COLORS */
  --neutral-900: rgb(20, 29, 47);
  --neutral-800: rgb(30, 42, 71);
  --neutral-700: rgb(43, 52, 66);
  --neutral-500: rgb(75, 106, 155);
  --neutral-300: rgb(105, 124, 154);
  --neutral-200: rgb(144, 164, 212);
  --neutral-100: rgb(246, 248, 255);
  --blue-300: rgb(96, 171, 255);
  --blue-500: rgb(0, 121, 255);
  --red-500: rgb(247, 70, 70);
}
@theme {
  --color-custom-neutral-900: var(--neutral-900);
  --color-custom-neutral-800: var(--neutral-800);
  --color-custom-neutral-700: var(--neutral-700);
  --color-custom-neutral-500: var(--neutral-500);
  --color-custom-neutral-300: var(--neutral-300);
  --color-custom-neutral-200: var(--neutral-200);
  --color-custom-neutral-100: var(--neutral-100);
  --color-custom-blue-300: var(--blue-300);
  --color-custom-blue-500: var(--blue-500);
  --color-custom-red-500: var(--red-500);
}

/* FONTS */

/* @font-face {
  font-family: "DM Sans", sans-serif;
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans", sans-serif;
  src: url("/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: "Space Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  min-height: 100dvh;
}

@theme {
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
  }
}
@layer utilities {
  .drop-shadow-custom {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.0973));
  }
  .box-shadow-custom {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.0973);
  }
  .box-shadow-btn:hover {
    box-shadow: 0px 0px 40px 0px rgba(83, 255, 170, 1);
  }

  .shake {
    animation: shake 0.4s ease-in-out;
  }

  /* .text-alata {
    font-family: "Alata", sans-serif;
  } */
}
