---
import { Image } from "astro:assets";

import imgDark from "../assets/image-about-dark.jpg";
import imgLight from "../assets/image-about-light.jpg";
---

<section id="shop">
  <Image
    src={imgDark}
    alt="slide 1"
    class="h-full w-full object-cover"
    decoding="async"
    loading="eager"
  />
</section>
<section id="about">
  <div class="md:col-start-2 md:p-0 xl:p-[4rem]">
    <h2
      class="mt-4 mb-2 text-center text-base leading-[140%] font-bold tracking-[7px] uppercase lg:mt-18 xl:mt-0 xl:text-start"
    >
      About our furniture
    </h2>
    <p
      class="px-4 text-sm leading-[140%] font-normal tracking-[-0.5px] text-black/70 md:text-base md:font-medium lg:px-6 xl:px-0"
    >
      Our multifunctional collection blends design and function to suit your
      individual taste. Make each room unique, or pick a cohesive theme that
      best express your interests and what inspires you. Find the furniture
      pieces you need, from traditional to contemporary styles or anything in
      between. Product specialists are available to help you create your dream
      space.
    </p>
  </div>
</section>
<div>
  <Image
    src={imgLight}
    alt="slide 1"
    class="h-full w-full object-cover"
    decoding="async"
    loading="eager"
  />
</div>
