---

---

<button
  class="absolute top-[48px] left-[24px] z-10 flex cursor-pointer flex-col gap-[5px] bg-transparent lg:hidden"
  id="icon-burger"
  class="burger"
  aria-label="Menu"
  aria-expanded="false"
  aria-controls="menu"
>
  <span
    class="block h-[3px] w-[25px] bg-white transition-all duration-300 ease-in-out"
  ></span>
  <span
    class="block h-[3px] w-[25px] bg-white transition-all duration-300 ease-in-out"
  ></span>
  <span
    class="block h-[3px] w-[25px] bg-white transition-all duration-300 ease-in-out"
  ></span>
</button>
