---
import Logo from "../assets/logo.svg";
import ButtonClose from "./ButtonClose.astro";
import ButtonMenu from "./ButtonMenu.astro";
import NavGroup from "./NavGroup.astro";
---

<header class="col-span-full">
  <div id="overlay" class="fixed inset-0 z-10 hidden bg-black/50"></div>
  <div id="menu" class="absolute top-0 z-10 hidden h-[110px] w-full bg-white">
    <NavGroup />
  </div>
  <ButtonClose />
  <ButtonMenu />
  <div class="absolute top-[48px] left-1/2 z-10 w-fit -translate-x-1/2">
    <Logo id="logo" />
  </div>
</header>

<script>
  const menu = document.getElementById("menu") as HTMLUListElement;
  const iconBurger = document.getElementById(
    "icon-burger",
  ) as HTMLButtonElement;
  const iconClose = document.getElementById("icon-close") as HTMLButtonElement;
  const logoEl = document.getElementById("logo") as HTMLElement;
  const overlay = document.getElementById("overlay") as HTMLElement;

  function openMenu() {
    iconBurger.classList.add("hidden");
    iconClose.classList.remove("hidden");
    menu.classList.remove("hidden");
    menu.classList.add("open");
    logoEl.classList.add("hidden");
    overlay.classList.remove("hidden");
  }
  function closeMenu() {
    iconBurger.classList.remove("hidden");
    iconClose.classList.add("hidden");
    menu.classList.add("hidden");
    logoEl.classList.remove("hidden");
    menu.classList.remove("open");
    overlay.classList.add("hidden");
  }

  iconBurger.addEventListener("click", openMenu);
  iconClose.addEventListener("click", closeMenu);

  document.addEventListener("click", (e) => {
    const target = e.target as Node;
    const isClickInside =
      iconBurger.contains(target) ||
      menu.contains(target) ||
      iconClose.contains(target);

    if (!isClickInside && menu.classList.contains("open")) {
      closeMenu();
    }
  });
</script>
