---
const { linkName } = Astro.props;
---

<li>
  <a
    href={linkName === "contact" ? "#" : `#${linkName}`}
    class="block text-base font-semibold text-black lg:text-white">{linkName}</a
  >
</li>
