---
import Logo from "../assets/logo.svg";
import ButtonMenu from "../components/ui/ButtonMenu.astro";
import ButtonClose from "../components/ui/ButtonClose.astro";
import NavGroup from "../components/NavGroup.astro";
---

<header class="px-10 py-11">
  <nav class="relative flex items-center justify-between lg:static">
    <Logo class="fixed top-[36px] left-[26px] z-30" />
    <ButtonMenu />
    <ButtonClose />
    <NavGroup />
  </nav>
  <h1
    class="mt-[201px] max-w-[clamp(327px,50vw,608px)] border-2 border-white p-10 text-[clamp(2.5rem,4vw,4.5rem)] font-light text-white uppercase"
  >
    Immersive experiences that deliver
  </h1>
</header>

<style>
  @media (width < 376px) {
    header {
      background-image: url("../assets/mobile/image-hero.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 650px;
      width: 100%;
    }
  }
  @media (width > 376px) {
    header {
      background-image: url("../assets/desktop/image-hero.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 650px;
      width: 100%;
    }
  }
</style>
