<ul
  id="menu"
  class="fixed inset-0 z-20 hidden h-screen w-full flex-col gap-6 bg-black pt-[183px] pl-6 shadow-md lg:inset-auto lg:right-[171px] lg:flex lg:h-auto lg:w-auto lg:flex-row lg:bg-transparent lg:pt-6 lg:shadow-none"
>
  <li>
    <a
      href="#"
      class="lg:text-alata block text-2xl leading-[100%] font-light text-white uppercase lg:text-[0.9375rem] lg:leading-[165%] lg:font-medium lg:capitalize"
      >About</a
    >
  </li>
  <li>
    <a
      href="#"
      class="lg:text-alata block text-2xl leading-[100%] font-light text-white uppercase lg:text-[0.9375rem] lg:leading-[165%] lg:font-medium lg:capitalize"
      >Careers</a
    >
  </li>
  <li>
    <a
      href="#"
      class="lg:text-alata block text-2xl leading-[100%] font-light text-white uppercase lg:text-[0.9375rem] lg:leading-[165%] lg:font-medium lg:capitalize"
      >Events</a
    >
  </li>
  <li>
    <a
      href="#"
      class="lg:text-alata block text-2xl leading-[100%] font-light text-white uppercase lg:text-[0.9375rem] lg:leading-[165%] lg:font-medium lg:capitalize"
      >Products</a
    >
  </li>
  <li>
    <a
      href="#"
      class="lg:text-alata block text-2xl leading-[100%] font-light text-white uppercase lg:text-[0.9375rem] lg:leading-[165%] lg:font-medium lg:capitalize"
      >Support</a
    >
  </li>
</ul>
