<ul
  id="menu"
  class="fixed inset-0 z-20 hidden h-screen w-full flex-col gap-6 bg-black pt-[183px] pl-6 shadow-md lg:static lg:w-auto lg:flex-row lg:bg-transparent lg:shadow-none"
>
  <li>
    <a
      href="#"
      class="block text-2xl leading-[100%] font-light text-white uppercase"
      >About</a
    >
  </li>
  <li>
    <a
      href="#"
      class="block text-2xl leading-[100%] font-light text-white uppercase"
      >Careers</a
    >
  </li>
  <li>
    <a
      href="#"
      class="block text-2xl leading-[100%] font-light text-white uppercase"
      >Events</a
    >
  </li>
  <li>
    <a
      href="#"
      class="block text-2xl leading-[100%] font-light text-white uppercase"
      >Products</a
    >
  </li>
  <li>
    <a
      href="#"
      class="block text-2xl leading-[100%] font-light text-white uppercase"
      >Support</a
    >
  </li>
</ul>
