.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.hidden {
  display: none;
}

.menu {
  position: fixed;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 688px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 2rem 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  width: 100%;
}

.navItem {
  text-align: center;
}

.navItemTitle {
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--purple-900);
  padding: 1rem 0;
}
.navItemTitle.active {
  color: rgba(45, 46, 64, 0.75);
}

.arrow {
  margin-left: 1rem;
  transform: rotate(0deg);
  transition: transform 300ms ease;
}

.arrow.active {
  transform: rotate(180deg);
}

.navItemMenu {
  background-color: var(--gray-100);
  border-radius: 5px;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  /* --- AJOUTS POUR L'ANIMATION --- */

  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition:
    margin 300ms ease-in-out,
    max-height 300ms ease-in-out,
    padding-top 300ms ease-in-out,
    padding-bottom 300ms ease-in-out;
}

.navItemMenu.open {
  max-height: 200px; /* Mettez une valeur assez grande pour contenir le menu */
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem 0;
}

.navItemLink {
  color: var(--blue-900);
  text-decoration: none;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 1.5rem 0;
  background-color: var(--gray-100);
}

.authButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.loginButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--purple-900);
}

.signupButton {
  background: var(--gradient-red);
  border: none;
  border-radius: 2rem;
  padding: 0.8rem 2.4rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  width: 60%;
}

@media (min-width: 768px) {
  .menuButton,
  .menu {
    display: none;
  }
}
