---

---

<article class="mt-[128px]">
  <div
    class="bg-custom-blue-600 flex flex-col items-center px-8 py-[3.0625rem] text-center text-white md:px-[163px] md:pt-[56px] md:pb-[78px]"
  >
    <div class="lg:mx-auto lg:max-w-[442px]">
      <p
        class="text-[0.75rem] leading-[300%] font-medium tracking-[5px] uppercase md:mb-6"
      >
        35,000+ ALREADY JOINED
      </p>
      <h3 class="mb-8 text-3xl leading-[135%] font-medium">
        Stay up-to-date with what we’re doing
      </h3>
      <form class="w-full">
        <div class="flex flex-col items-center gap-4 lg:flex-row">
          <label for="email"></label>
          <input
            class="w-full flex-2 rounded-[5px] bg-white px-4 py-3 placeholder:text-gray-500/40"
            type="email"
            id="email"
            placeholder="Enter your email adress"
          />
          <button class="btn-destructive w-full flex-1">Contact Us</button>
        </div>
      </form>
    </div>
  </div>
</article>
