<section class="flex w-full justify-center lg:mb-20">
  <div class="w-full max-w-4xl rounded-lg bg-white">
    <div
      class="mb-16 flex w-full flex-col items-center justify-center sm:flex-row md:mx-8"
    >
      <button
        class="tab-button text-custom-blue-950 relative w-full flex-1 cursor-pointer border-b border-gray-300 bg-transparent p-4 text-base font-bold tracking-wide transition-all duration-300 focus:outline-none"
        data-tab="tab1"
        data-description="description1"
      >
        Simple Bookmarking
        <span
          class="tab-underline bg-custom-red-400 absolute bottom-0 left-1/2 h-[3px] w-[163px] -translate-x-1/2 rounded-full"
        ></span>
      </button>
      <button
        class="tab-button text-custom-blue-950/75 relative w-full flex-1 cursor-pointer border-b border-gray-300 bg-transparent p-4 text-base font-bold tracking-wide transition-all duration-300 focus:outline-none"
        data-tab="tab2"
        data-description="description2"
      >
        Speedy Searching
        <span
          class="tab-underline bg-custom-red-400 absolute bottom-0 left-1/2 hidden h-[3px] w-[163px] -translate-x-1/2 rounded-full"
        ></span>
      </button>
      <button
        class="tab-button text-custom-blue-950/75 relative w-full flex-1 cursor-pointer border-b border-gray-300 bg-transparent p-4 text-base font-bold tracking-wide transition-all duration-300 focus:outline-none"
        data-tab="tab3"
        data-description="description3"
      >
        Easy Sharing
        <span
          class="tab-underline bg-custom-red-400 absolute bottom-0 left-1/2 hidden h-[3px] w-[163px] -translate-x-1/2 rounded-full"
        ></span>
      </button>
    </div>
  </div>
</section>
