---
import IllustrationTabs1 from "../assets/illustration-features-tab-1.svg";
import IllustrationTabs2 from "../assets/illustration-features-tab-2.svg";
import IllustrationTabs3 from "../assets/illustration-features-tab-3.svg";
---

<div class="flex-1">
  <div class="tab-content relative" id="tab1">
    <img
      src={IllustrationTabs1.src}
      alt="Illustration 1"
      class="absolute left-1/2 block h-auto max-w-[90%] -translate-x-1/2 lg:self-center"
    />
    <div class="bg-left"></div>
  </div>
  <div class="tab-content relative hidden" id="tab2">
    <img
      src={IllustrationTabs2.src}
      alt="Illustration 1"
      class="absolute left-1/2 block h-auto max-w-[90%] -translate-x-1/2 lg:self-center"
    />
    <div class="bg-left"></div>
  </div>
  <div class="tab-content relative hidden" id="tab3">
    <img
      src={IllustrationTabs3.src}
      alt="Illustration 3"
      class="absolute left-1/2 block h-auto max-w-[90%] -translate-x-1/2 lg:self-center"
    />
    <div class="bg-left"></div>
  </div>
</div>

<style>
  .bg-left {
    position: absolute;
    left: -60%;
    bottom: -390px;
    height: 390px;
    max-height: 390px;
    width: 120%;
    background-color: hsl(231, 69%, 60%);
    border-radius: 0 200px 200px 0;
    z-index: -1;
  }

  @media screen and (width > 1024px) {
    .bg-left {
      left: -240px;
      top: 0px;
      height: 250px;
      width: 110%;
      background-color: hsl(231, 69%, 60%);
      border-radius: 0 200px 200px 0;
      z-index: -1;
    }
  }
</style>
