---
import ToggleTheme from "./ui/ToggleTheme.astro"
---


<header class="flex justify-between items-center mb-8 max-w-[704px] mx-auto">
  <h1 class="font-bold text-[1.625rem]">devfinder</h1>
  <ToggleTheme/>
</header>