---
const { linkName } = Astro.props;
---

<li>
  <a
    href="#"
    class="relative block text-2xl leading-[100%] font-light text-white uppercase lg:text-[0.9375rem] lg:leading-[165%] lg:font-medium lg:capitalize lg:after:absolute lg:after:bottom-0 lg:after:left-1/2 lg:after:h-0.5 lg:after:w-0 lg:after:-translate-x-1/2 lg:after:bg-white lg:after:transition-all lg:after:duration-300 lg:after:ease-in-out lg:after:content-[''] lg:hover:after:w-[60%]"
    >{linkName}</a
  >
</li>
