<footer class="attribution">
  <span>Challenge by </span><a
    href="https://www.frontendmentor.io/profile/juliengDev"
    target="_blank">Frontend Mentor</a
  >
  <span class="portfolio">Coded by</span>
  <a href="https://juliengilbert.com/" target="_blank">Julien Gilbert</a>
</footer>
