.filter__tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 12px;
}
.filter__container {
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 295px;
  list-style-type: none;
}

.filter__container li {
  list-style: none;
  width: 100%;
}

.filter__link {
  font-size: var(--ft-size-preset-3);
  font-weight: var(--ft-weight-preset-3);
  line-height: var(--ft-line-height-preset-3);
  letter-spacing: var(--ft-letter-spacing-preset-3);
  padding: 10px 20px;
  border-radius: var(--radius-full);
  color: var(--btn-color);
  background-color: var(--btn-background-color);
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  box-shadow: inset 0 0 0 1px var(--btn-strike);
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

.filter__link:focus-visible {
  background-color: var(--filter-link-active);
  outline: 3px solid var(--filter-link-focus);
  outline-offset: 4px;
}

.filter__link.active:hover {
  background-color: var(--red-500);
  color: var(--filter-link-foreground-active-hover);
}
.filter__link:not(.active):hover {
  background-color: var(--filter-link-background-hover);
  color: var(--filter-link-foreground-hover);
}

.filter__link.active {
  background-color: var(--filter-link-focus);
  color: var(--btn-color-active);
}

@media screen and (min-width: 940px) {
  .filter__tabs {
    justify-content: end;
  }
}
