.filter__tabs {
  display: flex;
  width: 100%;
  gap: 12px;
}
.filter__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
}
.filter__link {
  font-size: var(--ft-size-preset-3);
  font-weight: var(--ft-weight-preset-3);
  line-height: var(--ft-line-height-preset-3);
  letter-spacing: var(--ft-letter-spacing-preset-3);
  padding: 10px 20px;
  border-radius: var(--radius-full);
  background-color: var(--neutral-0);
}

.filter__link.active {
  background-color: var(--red-700);
  color: var(--neutral-0);
}
