<section class="tooling">
  <div class="tooling__imgContainer">
    <img
      class="tooling__img"
      src="/images/illustration-laptop-mobile.svg"
      alt="illustration laptop"
    />
    <img
      class="tooling__img-desktop"
      src="/images/illustration-laptop-desktop.svg"
      alt="illustration laptop"
    />
  </div>
  <div class="tooling__txtContainer">
    <div>
      <h2 class="tooling__heading">Free, open, simple</h2>
      <p class="tooling__description">
        Blogr is a free and open source application backed by a large community
        of helpful developers. It supports features such as code syntax
        highlighting, RSS feeds, social media integration, third-party
        commenting tools, and works seamlessly with Google Analytics. The
        architecture is clean and is relatively easy to learn.
      </p>
    </div>
    <div>
      <h2 class="tooling__heading">Powerful tooling</h2>
      <p class="tooling__description">
        Batteries included. We built a simple and straightforward CLI tool that
        makes customization and deployment a breeze, but capable of producing
        even the most complicated sites.
      </p>
    </div>
  </div>
</section>

<style>
  .tooling {
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
    width: 100%;
    margin-bottom: 108px;
  }
  .tooling__imgContainer {
    margin-bottom: 56px;
    max-width: 700px;
  }
  .tooling__img {
    margin: 0 auto;
    width: 100%;
  }
  .tooling__img-desktop {
    display: none;
  }
  .tooling__txtContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    width: 90%;
    margin: 0 auto;
    max-width: 540px;
  }
  .tooling__heading {
    color: var(--blue-900);
    font-size: var(--ft-size-preset-3);
    font-weight: var(--ft-weight-preset-3);
    line-height: var(--ft-line-height-preset-3);
    letter-spacing: var(--ft-letter-spacing-preset-3);
    margin-bottom: 1rem;
    text-align: center;
  }
  .tooling__description {
    color: var(--gray-600);
    font-size: var(--ft-size-preset-5);
    font-weight: var(--ft-weight-preset-5);
    line-height: var(--ft-line-height-preset-5);
    letter-spacing: var(--ft-letter-spacing-preset-5);
    text-align: center;
  }

  @media screen and (min-width: 764px) {
    .tooling__img {
      display: none;
    }

    .tooling__imgContainer {
      width: 60%;
      align-self: center;
      margin-bottom: 32px;
    }
    .tooling__img-desktop {
      display: block;
      width: 100%;
    }
  }
  @media screen and (min-width: 1120px) {
    .tooling {
      flex-direction: row;
      position: relative;
      left: -245px;
    }
    .tooling__imgContainer {
      margin-bottom: 0;
    }
    .tooling__txtContainer {
      align-self: center;
    }
    .tooling__heading {
      text-align: left;
    }
    .tooling__description {
      text-align: left;
    }
  }
</style>
