---
// Bienvenue dans Astro ! Tout ce qui se trouve entre ces délimiteurs de
// code à trois tirets est le « frontmatter de votre composant ». Il ne
// s'exécute jamais dans le navigateur.
console.log("Ceci s'exécute dans votre terminal, et non dans le navigateur !");
---
<!-- Ci-dessous se trouve le « modèle de votre composant ». C'est simplement
    du HTML, mais avec un peu de magie à l'intérieur pour vous aider à
    construire de superbes modèles. -->
<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>