---
import "@fontsource-variable/josefin-sans";
import "@fontsource/alata";
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import imageInteractiveDesktop from "../assets/desktop/image-interactive.jpg";
import imageInteractiveMobile from "../assets/mobile/image-interactive.jpg";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../src/assets/favicon-32x32.png" />
    <link rel="stylesheet" href="../src/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script>
      import "../scripts/menu.js";
    </script>
  </head>
  <body>
    <MainLayout>
      <div class="px-6 py-24">
        <section class="flex justify-center">
          <div>
            <Image
              src={imageInteractiveMobile}
              alt="image interactive"
              class="h-full w-full object-cover xl:hidden"
              decoding="async"
              loading="lazy"
            />
            <Image
              src={imageInteractiveDesktop}
              alt="image interactive"
              class="hidden h-full w-full object-cover xl:block"
              decoding="async"
              loading="lazy"
            />
          </div>
          <div>
            <h2></h2>
          </div>
        </section>
      </div>
    </MainLayout>
  </body>
</html>
