---
import BaseLayout from "../layouts/BaseLayout.astro";
import MobileMenu from "../components/MobileMenu/MobileMenu";
import Navigation from "../components/NavigationDesktop/Navigation.astro";
import Authentification from "../components/NavigationDesktop/Authentification.astro";
import Hero from "../components/Hero/Hero.astro";
import Design from "../components/Design/Design.astro";
import Infrastructure from "../components/Infrastructure/Infrastructure.astro";
import Tooling from "../components/Tooling/Tooling.astro";
import Footer from "../components/Footer/Footer.astro";

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <header class="header">
    <div class="nav__container">
      <nav class="nav">
        <img src="/images/logo.svg" alt="icon logo" />
        <Navigation />
      </nav>
      <Authentification />
      <MobileMenu client:idle />
    </div>
    <Hero />
  </header>
  <main>
    <Design />
    <Infrastructure />
    <Tooling />
  </main>
  <Footer />
</BaseLayout>
