---
import BaseLayout from "../layouts/BaseLayout.astro";
import MobileMenu from "../components/MobileMenu/MobileMenu";
import Navigation from "../components/NavigationDesktop/Navigation.astro";
import Authentification from "../components/NavigationDesktop/Authentification.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <header class="header">
    <div class="nav__container">
      <nav class="nav">
        <img src="/images/logo.svg" alt="icon logo" />
        <Navigation />
      </nav>
      <Authentification />
      <MobileMenu client:idle />
    </div>
  </header>
</BaseLayout>

<style>
  .header {
    background:
      url("../images/bg-pattern-intro-mobile.svg"), var(--gradient-red);
    background-position: 33% 35%;
    background-repeat: no-repeat;
    background-size: 320%;
    height: 100dvh;
    max-height: 600px;
    border-bottom-left-radius: 100px;
  }

  .nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 56px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  @media (min-width: 375px) {
    .header {
      background:
        url("../images/bg-pattern-intro-desktop.svg"), var(--gradient-red);
      background-position: 34% 51%;
      background-size: 435%;
    }
  }
  @media (min-width: 768px) {
    .header {
      background:
        url("../images/bg-pattern-intro-desktop.svg"), var(--gradient-red);
      background-position: 20% 51%;
      background-size: 200%;
    }
    .menuButton {
      display: none;
    }
  }
  @media (min-width: 1440px) {
  }
</style>
