---
import "@fontsource/ubuntu/400.css";
import "@fontsource/ubuntu/700.css";
---

<li class="list-item-wrapper">
  <div id="link-title" class="list-item">
    <p>Connect</p>
    <img
      id="icon-arrow"
      class="icon-arrow"
      src="/images/icon-arrow-light.svg"
      alt="icon arrow light"
    />
  </div>
  <div id="link-menu" class="list-item__menu">
    <ul class="list-item__container">
      <li class="list-item__link"><a href="/">Contact</a></li>
      <li class="list-item__link"><a href="/">Newletter</a></li>
      <li class="list-item__link"><a href="/">LinkedIn</a></li>
    </ul>
  </div>
</li>

<style>
  .list-item-wrapper {
    position: relative;
  }
  .list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  .icon-arrow {
    transform: rotate(0deg);
    transform-origin: center center;
    transition: transform 300ms ease;
  }
  .icon-arrow.active {
    transform: rotate(180deg);
  }
  .list-item__menu {
    position: absolute;
    top: 24px;
    left: -20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  .list-item__menu.show {
    opacity: 1;
    pointer-events: auto;
  }
  .list-item__container {
    list-style-type: none;
    padding: 1.5rem 3.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--white);
    border-radius: 5px;
  }
  .list-item__link {
    cursor: pointer;
  }
  .list-item__link a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: var(--purple-950);
  }
  .list-item__link a:hover {
    font-weight: 700;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const listItem = document.getElementById("link-title") as HTMLDivElement;
    const linkMenuEl = document.getElementById("link-menu") as HTMLUListElement;
    const iconArrowEl = document.getElementById(
      "icon-arrow",
    ) as HTMLImageElement;

    listItem.addEventListener("click", (e) => {
      linkMenuEl.classList.toggle("show");
      iconArrowEl.classList.toggle("active");
      e.stopPropagation();
    });

    document.addEventListener("click", (e) => {
      if (
        !linkMenuEl.contains(e.target as Node) &&
        !listItem.contains(e.target as Node)
      ) {
        linkMenuEl.classList.remove("show");
        iconArrowEl.classList.remove("active");
      }
    });

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape" || e.key === "Esc") {
        linkMenuEl.classList.remove("show");
        iconArrowEl.classList.remove("active");
      }
    });
  });
</script>
